# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Create tables showing common tools used in Data Science
- Demonstrate basic arithmetic expressions in Python
- Convert minutes to hours using a simple calculation

### Some of the popular languages that Data Scientists use are:


*   Python
*   R


*   Java
*   SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Some of the commonly used libraries used by Data Scientists include:
| Data Science Tools |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3 * 4) + 5

17

In [2]:
200 / 60

3.3333333333333335

## Author
-Omar Diaa